.nav-img{
    width: 35%;
    border-radius: 10%;
    margin-left: 3%;
}
.navbar{
    background-color: black;
}

#heading1{
    padding: 5% 8% 6%;
    color: white;
    
}
.stdimg1{
    width: 70%;
    color: black;
}

#heading2{
    padding: 2% 8% 5%;
    color: white;
}
.stdimg2{
    width: 70%;
}

.col1{
    padding: 5% 1% 1% 5% ;
    background-color: black;
}
.col2{
    padding: 3% 0 2% 16%  ;
    background-color: black;
}
.col3{
    padding: 5% 1% 1% 5% ;
    background-color: black;
}
.col4{
    padding: 3% 0 2% 16%  ;
    background-color: black;
}


#total{
    background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}




#editors{
   
    background-color: black;
    color: white;
    text-align: center;
}

.car1{
    padding: 3% 25% 5%;
}


.car2{
    line-height: 3;
}

.im1{
    margin-bottom: 3%;
    width: 30%;
    border-radius: 100%;
}
.im2{
    margin-bottom: 3%;
    width: 30%;
    border-radius: 100%;
}





@media (max-width:1028px){

    .nav-img{
        width: 25%;
        border-radius: 10%;
        margin-left: 3%;
    }

        h1{
            font-size: 1.8rem;
            font-weight: 700;
            font-family: "montserrat",serif;
        }
        
        h2{
        
            font-size: 1.4rem;
            font-weight: bolder;
            font-family: "ubuntu",sans-serif;
        
        }
        
        h4{
            font-size: 1rem;
            font-weight: 300;
            font-family: "ubuntu",sans-serif;
        }

        p{
            font-size: 0.8rem;
            font-weight: lighter;
            font-family: "ubuntu",sans-serif;
        }


        .col1, .col2, .col3, .col4{
            text-align: center;
        }
        
        .car2{
            line-height: 1;
        }
}