.nav-img{
    width: 25%;
    border-radius: 10%;
    margin-left: 3%;
}
.navbar{
    background-color: black;
}


body{
    background-image: linear-gradient(to right top, #6bbbd1, #6ec3d6, #72ccdb, #77d4df, #7ddce3, #7de1e5, #7de7e7, #7dece9, #76f0eb, #6ff4ec, #67f7ed, #5ffbed);
}

#mission1{
    text-align: center;
    padding: 4% 5% 2%;
}

#mission2{
    text-align: center;
    padding: 3% 7% 5%;
}
.image{
    width: 100%;
}

h1{
    font-family: "montserrat-black",serif;
    font-size: 4rem;
    font-weight: bolder;
}

h3{
    font-family: "ubuntu",sans-serif;
    font-size: 1.6rem;
    font-weight: lighter;
}